/*
===============
Footer
===============
*/

footer{
    background: #fff;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    padding: 20px 20px;
}
